venv/
src/.cache/
src/__pycache__/
src/config/__pycache__/
src/models/__pycache__/
src/services/__pycache__/
src/utils/__pycache__/
data/embeddings/
.idea/
debug/
import.log
trained_models/
.DS_Store
case_task.csv
